[
  title: 'Shigatsu wa Kimi no Uso OP Full - Hikaru Nara Turned Metal '
  length: '3:46'
  YTId: 'aGG4gRNe2yM'
,
  title: 'Thriller metal cover'
  length: '5:53'
  YTId: 'sp53eeYbI9o'
,
  title: 'Mana-Khemia intro'
  length: '2:00'
  YTId: 'SIRgQa4rQ_0'
,
  title: 'Persona 4 - "I\'ll Face Myself" (Full Cover)'
  length: '5:19'
  YTId: 'GmPMx8qI2n8'
,
  title: 'Fafner in the Azure Opening 蒼穹のファフナー '
  length: '1:29'
  YTId: 'VMOOsaqLP9g'
]
